<div class="sidebar">
  <div class="sidebuttons">
    <i class="bx bxs-dashboard"></i>
    <a href="#dashSec">Dashboard</a>
  </div>
  <div class="sidebuttons">
    <i class="fa-solid fa-piggy-bank"></i>
    <a href="#budgets"> Budgets</a>
  </div>
  <div class="sidebuttons">
    <i class="fa-solid fa-receipt"></i>
    <a href="#expenses"> Expenses</a>
  </div>
</div>
