<div class="sidebar">
  <div class="sidebuttons">
    <div>
      <i class="bx bxs-dashboard"></i>
      <a href="#dashSec">Dashboard</a>
    </div>
  </div>
  <div class="sidebuttons">
    <div>
      <i class="fa-solid fa-piggy-bank"></i>
      <a href="#budgets"> Budgets</a>
    </div>
  </div>
  <div class="sidebuttons">
    <div>
      <i class="fa-solid fa-receipt"></i>
      <a href="#expenses"> Expenses</a>
    </div>
  </div>
  <div class="sidebuttons">
    <div>
      <i class="fas fa-users"></i>
      <a href="#groupExpenses" id="groupAnchor">Group Expenses</a>
    </div>
  </div>
  <div class="sidebuttons">
    <div>
      <i class="fa-solid fa-bell"></i>
      <a style="left: 50%" href="#reminders" id="groupAnchor">Reminders</a>
    </div>
  </div>
</div>
