<section id="dashSec">
  <div class="dashCon" data-expense="<%=expense%>" style="color: white">
    <div class="Charts">
      <div class="todaysExpenses">
        <div>
          <h1>TODAYS EXPENSES</h1>
        </div>
        <div class="todaysCharts">
          <canvas id="myChart1" width="50" height="50"></canvas>
          <canvas id="myChart2" width="500" height="500">hello</canvas>
        </div>
      </div>
    </div>
  </div>
</section>
