<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/nav.css" />

    <title>BudgetBuddy</title>
  </head>
  <body>
    <div class="main">
      <div class="nav">
        <div class="left">
          <a class="navLogo" href="/">BUDGET BUDDY</a>
        </div>
        <div class="right">
          <div class="navI">
            <i class="fa-regular fa-user"></i>
            <a class="signuph" href="/signup">Signup</a>
          </div>
          <div class="navI">
            <i class="fa-solid fa-chart-simple"></i>
            <a class="dash" href="/dashboard">Dashboard</a>
          </div>
        </div>
      </div>

      <div class="intro">
        <h1 class="">BUDGET BUDDY</h1>
        <p class="">Take Control of Your Finances with Smart Budgeting.</p>
      </div>
    </div>
  </body>
</html>
