@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --sora: "sora", "serif";
  --inter: "Inter", "serif";
  --background-black: #010409;
  --dark-grey: #0d1117;
  --light-grey: #151b23;
  --border-color: #50565e;
  --font-color: rgb(241, 241, 241);
  --hover-color: #202c33;
}

::selection {
  background-color: rgb(107, 107, 213);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.main {
  padding-top: 70px;
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-left: 20%;
  background-color: var(--background-black);
}

section {
  padding: 0px;
  padding-top: 10px;
  position: relative;
  width: 100%;
  min-height: 90vh;
  scroll-margin-top: 70px;
  border-bottom: 2px solid var(--border-color);
}

.dashCon {
  height: 100vh;
  padding: 0px 20px;
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 400px auto;
  grid-template-areas:
    "box-1 box-3"
    "box-2 box-3";
  gap: 20px;
}

.recentExpensesCon {
  background-color: pink;
  background-color: var(--dark-grey);
  overflow-y: scroll;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
.recentExpensesCon::-webkit-scrollbar {
  display: none;
}

.recentExpensesHeading {
  padding: 18px;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  color: white;
  border: 1px solid var(--border-color);
  height: 60px;
  text-align: center;
}

.welcome-msg {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 1.1rem;
  color: white;
  padding-bottom: 25px;
}

.recentExpensesColumns {
  display: grid;
  width: 100%;
  height: 50px;
  font-size: 15px;
  background-color: #010409;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: rgb(239, 62, 62);
}

.head-col {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
}

.recents {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--hover-color);
}

.body-col {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
}

.charts::-webkit-scrollbar {
  display: none;
}

#myChart1 {
  background-color: var(--light-grey);
  border-radius: 12px;
  padding: 20px;
  border: 1px solid var(--border-color);
  padding: 20px;
}

.charts {
  overflow-x: auto;
  overflow-y: hidden;
  height: 400px;
  position: relative;
  direction: rtl;
}

#toggleChart {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgb(85, 85, 222);
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
}

.dailyExpensesChart {
  position: relative;
  min-width: 900px;
  height: 100%;
  display: flex;
  align-items: center;
}

.pieCharts {
  padding: 10px 20px;
  background-color: var(--hover-color);
  overflow-y: scroll;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pieCharts::-webkit-scrollbar {
  display: none;
}

.budgetSpentPie {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-bottom: 50px;
  background-color: var(--light-grey);
  padding: 10px;
  border-radius: 10px;
}

#budgetPieChart {
  width: 500px;
}

.monthlyPieChartCon {
  background-color: var(--light-grey);
  padding: 20px;
  width: 100%;
  display: flex;
  border-radius: 10px;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
}

#monthSelector {
  background-color: var(--background-black);
  color: #ffffff;
  border: 1px solid #555;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  outline: none;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#monthSelector:hover {
  border-color: #888;
}

#monthSelector:focus {
  border-color: #aaa;
}
