:root {
  --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --sora: "sora", "serif";
  --inter: "Inter", "serif";
  --background-black: #010409;
  --dark-grey: #0d1117;
  --light-grey: #151b23;
  --border-color: #50565e;
  --font-color: rgb(241, 241, 241);
  --hover-color: #202c33;
}

.remindersCon {
  height: 90%;
  width: 100%;
  position: absolute;
  padding: 10px;
  padding-top: 20px;
  background-color: var(--background-black);
}

.reminderDiv {
  background-color: var(--light-grey);
  padding: 20px;
  color: white;
  width: 500px;
  height: fit-content;
  margin-bottom: 20px;
}

.reminderDiv p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.reminderDiv form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reminderDiv input {
  padding: 5px 4px;
  outline: none;
  background-color: transparent;
  margin-top: 4px;
  width: 60%;
  border: 2px solid #b6b6b6;
  border-radius: 4px;
  color: white;
}

.reminderDiv textarea {
  padding: 5px 4px;
  outline: none;
  background-color: transparent;
  margin-top: 4px;
  width: 60%;
  border: 2px solid #b6b6b6;
  border-radius: 4px;
  color: white;
}

.reminderDiv select {
  padding: 5px 4px;
  outline: none;
  background-color: transparent;
  margin-top: 4px;
  width: 60%;
  border: 2px solid #b6b6b6;
  border-radius: 4px;
}

.reminderDiv button {
  padding: 6px 4px;
  background-color: rgb(105, 105, 222);
  border: none;
  width: 100%;
  cursor: pointer;
  color: white;
}

.reminderDiv select {
  color: white;
}

.reminderDiv select option {
  color: black;
}

input[type="time"] {
  color: white;
  background-color: transparent; /* optional for dark backgrounds */
  border: 1px solid white;
  cursor: pointer;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.allReminders {
  width: 100%;
  height: 100%;
}

.createdReminders {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;
}

.createdReminders::-webkit-scrollbar {
  display: none;
}

.reminder-card {
  background-color: var(--light-grey);
  width: 550px;
  height: fit-content;
}
